<div data-role="header" data-position="fixed">
    <h1>Home View</h1>
</div>

<div data-role="content">
    <p>Click the button below no navigate to next view</p>
    <button id="btnNextView">Next</button>
</div>